@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;600;700;800&display=swap');

$bg-main: #141C2F;
$bg-secondary: #1F2A48;
$clr-blue: #0078FC;
$clr-grey: #8c97ad;
$clr-white: #fff;

* {
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
}

body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $bg-main;
    color: $clr-white; 
}

.main-section {
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    div[class="header"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        span[class="theme-changer"] {
            span {
                display: flex;
                align-items: center;
                gap: 7px;
                cursor: pointer;

                p {
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 400;
                }
            }

            span[id="dark"] {
                display: none;
            }
        }
    }

    div[class="search-bar"] {
        width: 100%;
        background-color: $bg-secondary;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 7px;
        margin: 10px 0;
        @extend div[class="header"];

        ::placeholder {
            color: $clr-white;
        }

        input {
            width: 75%;
            height: 100%;
            background: $bg-secondary;
            outline: none;
            border: none;
            color: $clr-white;
        }

        span {
            color: $clr-blue;
            margin-inline: 10px;
        }

        button {
            outline: none;
            border: 1px solid transparent;
            border-radius: 10px;
            padding: 10px 17px;
            background: $clr-blue;
            color: $clr-white;
            font-weight: 400;
        }
    }

    div[class="user-card-component"] {
        width: 100%;
        height: 300px;
        background: $bg-secondary;
        border: 1px solid transparent;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 25% 75%;
        justify-items: flex-start;
        align-items: flex-start;
        gap: 20px;
        padding: 25px;

        div {
            width: 100%;
        }

        div[class="user-avatar"] {
            width: 100%;
            border: 1px solid transparent;
            border-radius: 50%;

            img {
                @extend div[class="user-avatar"];
            }
        }

        div[class="user-info"]>span,
        div[class="user-info"]>div {
            width: 90%;
        }

        div[class="user-info"] {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            span[class="user-info-header"] {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    font-size: 20px;
                    font-weight: 450;
                }

                p {
                    font-size: 12px;
                    font-weight: 450;
                    color: $clr-grey;
                }
            }

            span[class="user-info-tag"] {
                p {
                    font-size: 11.7px;
                    font-weight: 300;
                    color: $clr-blue;
                }
            }

            span[class="user-info-bio"] {
                p {
                   font-size: 12px;
                   font-weight: 400;
                   color: $clr-grey;
                }
            }

            div[class="user-info-stats"] {
                padding: 8px 15px;
                border: 1px solid transparent;
                border-radius: 10px;
                background-color: $bg-main;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-items: flex-start;
                align-items: flex-start;

                p {
                    font-size: 12px;
                    font-weight: 400;
                    color: $clr-grey;
                }
            }

            div[class="user-info-details"] {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: flex-start;
                align-items: center;
            }

            div[class="user-info-details"]>span {
                display: flex;
                align-items: center;
                gap: 7px;

                span {
                    color: $clr-white;
                }

                p {
                    font-size: 11.5px;
                    font-weight: 350;
                    color: $clr-grey;
                }
            } 
        }
    }
}