@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-color: #141C2F;
  color: #fff;
}

.main-section {
  width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section div[class="header"], .main-section div[class="search-bar"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-section div[class="header"] span[class="theme-changer"] span, .main-section div[class="search-bar"] span[class="theme-changer"] span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  cursor: pointer;
}

.main-section div[class="header"] span[class="theme-changer"] span p, .main-section div[class="search-bar"] span[class="theme-changer"] span p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.main-section div[class="header"] span[class="theme-changer"] span[id="dark"], .main-section div[class="search-bar"] span[class="theme-changer"] span[id="dark"] {
  display: none;
}

.main-section div[class="search-bar"] {
  width: 100%;
  background-color: #1F2A48;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 7px;
  margin: 10px 0;
}

.main-section div[class="search-bar"] ::-webkit-input-placeholder {
  color: #fff;
}

.main-section div[class="search-bar"] :-ms-input-placeholder {
  color: #fff;
}

.main-section div[class="search-bar"] ::-ms-input-placeholder {
  color: #fff;
}

.main-section div[class="search-bar"] ::placeholder {
  color: #fff;
}

.main-section div[class="search-bar"] input {
  width: 75%;
  height: 100%;
  background: #1F2A48;
  outline: none;
  border: none;
  color: #fff;
}

.main-section div[class="search-bar"] span {
  color: #0078FC;
  margin-inline: 10px;
}

.main-section div[class="search-bar"] button {
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 17px;
  background: #0078FC;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.main-section div[class="user-card-component"] {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #1F2A48;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section div[class="user-card-component"] > p {
  font-size: 13.5px;
  font-style: italic;
  font-weight: 300;
  color: #8c97ad;
}

.main-section div[class="user-card-component-details"] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  justify-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  display: none;
}

.main-section div[class="user-card-component-details"] div {
  width: 100%;
}

.main-section div[class="user-card-component-details"] div[class="user-avatar"], .main-section div[class="user-card-component-details"] div[class="user-avatar"] img {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] > span,
.main-section div[class="user-card-component-details"] div[class="user-info"] > div {
  width: 90%;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] span[class="user-info-header"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] span[class="user-info-header"] h4 {
  font-size: 20px;
  font-weight: 450;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] span[class="user-info-header"] p {
  font-size: 12px;
  font-weight: 450;
  color: #8c97ad;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] span[class="user-info-tag"] p {
  font-size: 11.7px;
  font-weight: 300;
  color: #0078FC;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] span[class="user-info-bio"] p {
  font-size: 12px;
  font-weight: 400;
  color: #8c97ad;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] div[class="user-info-stats"] {
  padding: 8px 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #141C2F;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] div[class="user-info-stats"] p {
  font-size: 12px;
  font-weight: 400;
  color: #8c97ad;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] div[class="user-info-details"] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] div[class="user-info-details"] > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] div[class="user-info-details"] > span span {
  color: #fff;
}

.main-section div[class="user-card-component-details"] div[class="user-info"] div[class="user-info-details"] > span p {
  font-size: 11.5px;
  font-weight: 350;
  color: #8c97ad;
}

.lightTheme {
  background-color: #fff;
  color: #000;
}

.lightTheme .main-section div[class="header"] span[id="dark"], .lightTheme .main-section div[class="search-bar"] span[id="dark"] {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  color: #8c97ad;
}

.lightTheme .main-section div[class="header"] span[id="light"], .lightTheme .main-section div[class="search-bar"] span[id="light"] {
  display: none;
}

.lightTheme div[class="search-bar"] {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.lightTheme div[class="search-bar"] input {
  background-color: #fff;
  color: #8c97ad;
}

.lightTheme div[class="search-bar"] ::-webkit-input-placeholder {
  color: #8c97ad;
}

.lightTheme div[class="search-bar"] :-ms-input-placeholder {
  color: #8c97ad;
}

.lightTheme div[class="search-bar"] ::-ms-input-placeholder {
  color: #8c97ad;
}

.lightTheme div[class="search-bar"] ::placeholder {
  color: #8c97ad;
}

.lightTheme div[class="user-card-component"] {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.lightTheme div[class="user-card-component-details"] div[class="user-info"] div[class="user-info-details"] > span span {
  color: #8c97ad;
}

.lightTheme div[class="user-card-component-details"] div[class="user-info"] div[class="user-info-stats"] {
  background-color: #0078FC;
}

.lightTheme div[class="user-card-component-details"] div[class="user-info"] div[class="user-info-stats"] h4 {
  color: #fff;
}

.lightTheme div[class="user-card-component-details"] div[class="user-info"] div[class="user-info-stats"] p {
  color: #fff;
}

@media screen and (max-width: 550px) {
  .main-section {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */